@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    &__mapa{
        width: 100%;
    }

    &__contenido{
        background-color: v.$secundario;
        color: v.$blanco;
    }

    &__heading{
        @include m.heading;
        color: v.$blanco;
        padding-top: 5rem;
    }

    &__texto{
        text-align: center;
        color: v.$blanco;
    }

    &__label{
        font-weight: 700;
    }
}